.App {
  text-align: center;
  background-color: lightblue;
}

#wheel {
  width: 300px;
  height: 300px;
  background-image: linear-gradient(
    45deg,
    #ff7676,
    #f54ea2,
    #93329e,
    #643c7d,
    #2c2c54
  );
  border-radius: 50%;
  position: relative;
  margin: 20px auto;
  transition: transform 4s cubic-bezier(0.45, 0, 0.15, 1);
}

#spin-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #2c2c54;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#prize-display {
  font-size: 18px;
  font-weight: bold;
  color: #2c2c54;
}

.rotate {
  animation: spin 4s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
